<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Itinerary r us</title>
</head>
<body>
    <header>
        <div id="menu">
            <a href=" {% url 'Home' %}">Home</a>
            <a href=" {% url 'Search' %}">Search</a>
            <a href=" {% url 'Profile' %}">Profile</a>
            <a href=" {% url 'History' %}">History</a>
        </div>
        <div id="login_cont">
            <a href="{% url 'login' %}">Login</a>
        </div>
        <div id="need_help">
            <button > Need help?</button>
        </div>
    </header>
    <body>
        <div id="content">

        </div>
    </body>
</body>
</html>